* {
  border: 0;
  margin: 0;
}
:root {
  --background: black;
  --text-primary: wheat;
  --button-bg: black;
  --button-text: wheat;
}
[dark-theme="light"] {
  --background: wheat;
  --text-primary: black;
  --button-bg: black;
  --button-text: wheat;
}
.mainCont {
  width: 100vh;
  height: 100vh;
  background-color: var(--background);
  color: var(--text-primary);
}
button {
  background-color: var(--button-bg);
  color: var(--button-text);
}
