*{
  margin: 0;
  border: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#boxCont{
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}
#titleCont{
  width: 100%;
  display:  flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid whitesmoke;
  padding: 15px;
}
#boxInfo{
  padding: 15px;
  border: 1px solid whitesmoke;
  width: 100%;
}
.hidden{
  display: none;
}